logs
project/project
project/target
target
tmp
output
.history
dist
.ensime
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/project/*-shim.sbt
*.class
/data
/.enisme_cache/*